// 全体を覆う枠(850x170)
.overall {
  position:relative;
  width: 100%;
  height: 100%;
}

// 名前欄(380x40)
.message-name-area {
  position: absolute;
  background: #FDEFEF;
  width: calc(100% * 380 / 850);
  height: calc(100% * 40 / 170);
  left: 0;
  top: 0;
  //border-radius: calc(100% * 10 / 170);
  border-radius: 10px 10px 0 0;
}

// テキスト欄(850x130)
.message-text-area {
  position: absolute;
  background: #FDEFEF;
  width: 100%;
  height: calc(100% * 130 / 170);
  left: 0;
  top: calc(100% * 40 / 170);
  //border-radius: calc(100% * 10 / 170);
  border-radius: 10px;
  z-index: 1;
}

// 名前
.message-name-style {
  position: absolute;
  font-family: 'Kosugi Maru', sans-serif;
  left: calc(100% * 50 / 380);
  top: calc(100% * 8 / 40);
  //font-size: calc(100% * 30 / 170);
  font-size: calc(100% * 30 / 16);
  line-height: 1.0 !important;
}

// テキスト
.message-text-style {
  position: absolute;
  font-family: 'Kosugi Maru', sans-serif;
  left: calc(100% * 40 / 850);
  top: calc(100% * 20 / 130);
  //font-size: calc(100% * 30 / 170);
  font-size: calc(100% * 24 / 16);
  line-height: calc(100% * 34 / 24);
}

// 大きい方の星を造形するための外枠
.star-box-large {
  position: absolute;
  width: calc(100% * 30 / 380);
  height: calc(100% * 30 / 40);
  left: calc(100% * 15 / 380);
  top: calc(100% * 10 / 40);
  background: #E49FB4;
}

// 小さい方の星を造形するための外枠
.star-box-small {
  position: absolute;
  width: calc(100% * 12 / 380);
  height: calc(100% * 12 / 40);
  left: calc(100% * 33 / 380);
  top: calc(100% * 30 / 40);
  background: #E49FB4;
}

// 左上を塗りつぶすための細工
.star-blocker-1 {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 0;
  top: 0;
  border-radius: 0 0 100% 0;
  background: #FDEFEF;
}

// 右上を塗りつぶすための細工
.star-blocker-2 {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 0;
  border-radius: 0 0 0 100%;
  background: #FDEFEF;
}

// 右下を塗りつぶすための細工
.star-blocker-3 {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  border-radius: 100% 0 0 0;
  background: #FDEFEF;
}

// 左下を塗りつぶすための細工
.star-blocker-4 {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 0;
  top: 50%;
  border-radius: 0 100% 0 0;
  background: #FDEFEF;
}
