// 全体を覆う枠(850x170)
.overall {
  position:relative;
}
.idol-style {
  background-image: url("/assets/idol-style.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.p-style {
  background-image: url("/assets/p-style.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.haduki-style {
  background-image: url("/assets/haduki-style.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.other-style {
  background-image: url("/assets/other-style.png");
  background-repeat: no-repeat;
  background-size: contain;
}

// 名前
.message-name-style {
  position: absolute;
  font-family: 'Kosugi Maru', sans-serif;
  left: calc(100% * 50 / 850);
  top: calc(100% * 8 / 170);
  line-height: 1.0 !important;
}

// テキスト
.message-text-style {
  position: absolute;
  font-family: 'Kosugi Maru', sans-serif;
  left: calc(100% * 40 / 850);
  top: calc(100% * 60 / 170);
  line-height: calc(100% * 34 / 24);
}
