<div class="shiny-message-window">
  <div class="message-window-2">
    <div class="star-large">
      <div class="star-large-box"></div>
      <div class="star-large-blocker-1"></div>
      <div class="star-large-blocker-2"></div>
      <div class="star-large-blocker-3"></div>
      <div class="star-large-blocker-4"></div>
    </div>
    <div class="star-small">
      <div class="star-small-box"></div>
      <div class="star-small-blocker-1"></div>
      <div class="star-small-blocker-2"></div>
      <div class="star-small-blocker-3"></div>
      <div class="star-small-blocker-4"></div>
    </div>
    <span class="message-title">{{name}}</span>
  </div>
  <div class="message-window-3"></div>
  <div class="message-window-1">
    <div class="message-window-dotline"></div>
    <pre class="message-text">{{text}}</pre>
  </div>
  <div class="message-arrow">
    <div class="message-arrow-line-1"></div>
    <div class="message-arrow-line-2"></div>
    <div class="message-arrow-line-3"></div>
  </div>
</div>
