<div class="overall">
  <!-- 名前欄 -->
  <div class="message-name-area">
    <!-- 名前 -->
    <span class="message-name-style">{{name}}</span>
    <!-- 星 -->
    <div class="star-box-large">
      <div class="star-blocker-1"></div>
      <div class="star-blocker-2"></div>
      <div class="star-blocker-3"></div>
      <div class="star-blocker-4"></div>
    </div>
    <div class="star-box-small">
      <div class="star-blocker-1"></div>
      <div class="star-blocker-2"></div>
      <div class="star-blocker-3"></div>
      <div class="star-blocker-4"></div>
    </div>
  </div>
  <!-- 罫線 -->
  <div class="dotline"></div>
  <div class="frame-decoration"></div>
  <!-- テキスト欄 -->
  <div class="message-text-area">
    <!-- テキスト -->
    <pre class="message-text-style">{{messageText}}</pre>
  </div>
  <!-- 矢印 -->
  <div class="arrow-box">
    <div class="arrow-line-1"></div>
    <div class="arrow-line-2"></div>
    <div class="arrow-line-3"></div>
  </div>
</div>
