<h1 class="text-center d-none d-sm-block my-3">{{title}}</h1>
<h2 class="text-center d-xs-block d-sm-none my-3">{{title}}</h2>
<p class="text-center ml-3">Ver.
  <a href="https://github.com/YSRKEN/shiny_maker">0.6.0</a>　作者：
  <a href="https://twitter.com/YSRKEN" class="mr-3">@YSRKEN</a>
  <span class="align-middle d-inline-block mt-1">
    <span id="anchor"></span>
  </span>
</p>
<div class="text-center">
  <a href="#" target=”_blank”>操作説明(ヘルプ)</a>
</div>
<div class="container">
  <form class="col-xs-12 col-sm-10 col-md-8 my-3 mx-auto border py-3">
    <div class="form-group">
      <label for="name">キャラ名</label>
      <select class="form-control" id="name" name="name" [(ngModel)]="selectedIdol">
        <option *ngFor="let idol of idolNameList" [value]="idol.key">{{idol.name}}</option>
      </select>
      <input type="text" class="form-control mt-3" name="name" placeholder="「その他」選択時に名前を入力" [(ngModel)]="name"
        [ngClass]="{'d-none' : selectedIdol != ''}">
    </div>
    <div class="form-group">
      <label for="message">発言</label>
      <textarea rows="3" class="form-control" id="message" name="message" placeholder="発言" [(ngModel)]="message">
      </textarea>
    </div>
    <label for="preview-message">プレビュー</label>
    <app-message-window id="preview-message" name={{name}} text={{message}}></app-message-window>
    <div class="d-flex mt-3">
      <button type="button" class="w-100 btn btn-primary mr-3 px-0" (click)="addTalk()">追加</button>
      <button type="button" class="w-100 btn btn-primary mr-3 px-0" disabled>更新</button>
      <button type="button" class="w-100 btn btn-primary mr-3 px-0" disabled>↑↑</button>
      <button type="button" class="w-100 btn btn-primary mr-3 px-0" disabled>↓↓</button>
      <button type="button" class="w-100 btn btn-primary mr-3 px-0" disabled>削除</button>
    </div>
  </form>
</div>
<div class="container">
  <form class="col-xs-12 col-sm-10 col-md-8 my-3 mx-auto border py-3">
    <div class="my-3" *ngFor="let talk of talkData">
      <app-message-window name={{talk.name}} text={{talk.text}}></app-message-window>
    </div>
  </form>
</div>
